<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dershane Uygulaması</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/efcoreApp.styles.css" asp-append-version="true" />
    <!-- wwwroot/lib/jquery/jquery.min.js dosyasının yolu ve ismi projenize bağlı olarak değişebilir -->
    <script src="~/lib/jquery/jquery.min.js"></script>

    <style>
        body {
            padding-top: 56px;
            background-image: url('/images/resim11.jpg'); /* Resim yolu wwwroot içinden belirtilir */
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center; 
        }
        header {
            background-color: #413e3e;
        }

        header a.navbar-brand {
            color: #ffffff !important;
            font-weight: bold;
            font-size: 1.5rem;
        }

        header .navbar-nav .nav-item .nav-link {
            color: #ffffff !important;
        }

        header .navbar-toggler {
            border-color: #ffffff;
        }

        main {
            background-color: #f8f9fa;
            border-radius: 8px;
            padding: 20px;
            margin-top: 20px;
        }

        footer {
            padding: 20px 0;
            background-color: #14527a;
            color: #ffffff;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Dershane Uygulaması</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        @* <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li> *@
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Ogrenci" asp-action="Index">Öğrenciler</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Ogretmen" asp-action="Index">Öğretmenler</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Kurs" asp-action="Index">Kurslar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Pdf" asp-action="Index">Pdf Yükle</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Pdf" asp-action="ListPdfDocuments">Pdf Görüntüle</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="KursKayit" asp-action="Index">Kurs Kayıtları</a>
                        </li>
                         <ul class="navbar-nav" style="margin-left: 450px;">
                        <li class="nav-item">
                         </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Kullanici" asp-action="Profil"> Profil </a>
                    </li>
                         <a class="nav-link" asp-area="" asp-controller="Kullanici" asp-action="Login" style="color: rgb(254, 42, 42) !important; font-weight: bold !important;">
                         Çıkış Yap
                        </a>
                         </li>
                        </ul>



                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
